# Created by https://www.gitignore.io/api/osx,java,linux,kotlin,windows,eclipse,java-web,intellij+all,visualstudiocode,gradle,maven
# Edit at https://www.gitignore.io/?templates=osx,java,linux,kotlin,windows,eclipse,java-web,intellij+all,visualstudiocode,gradle,maven

### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

### Eclipse Patch ###
# Eclipse Core
.project

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Annotation Processing
.apt_generated
.sts4-cache/

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/


# Cursive Clojure plugin
.idea/replstate.xml


# Editor-based Rest Client
.idea/httpRequests


# JetBrains templates
**___jb_tmp___
.idea/

# Reason:

*.iml
modules.xml
.idea/misc.xml
*.ipr

### Gradle ###
.gradle
build/*

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

### Gradle Patch ###
**/build/